Txooo.Mobile/Service References/SysSmsService/SysSmsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://internalservice.txooo.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internalservice.txooo.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://internalservice.txooo.com/">
      <s:element name="GetAccountInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReplyInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetReplyInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReplyInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChaotangTestSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChaotangTestSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChaotangTestSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOfficeSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendOfficeSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendOfficeSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBatchOfficeSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobiles" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendBatchOfficeSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendBatchOfficeSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWebUserSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWebUserSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendWebUserSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendLeavewordCheckSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lyId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendLeavewordCheckSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendLeavewordCheckSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetReplyInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetReplyInfo" />
  </wsdl:message>
  <wsdl:message name="GetReplyInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetReplyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ChaotangTestSmsSoapIn">
    <wsdl:part name="parameters" element="tns:ChaotangTestSms" />
  </wsdl:message>
  <wsdl:message name="ChaotangTestSmsSoapOut">
    <wsdl:part name="parameters" element="tns:ChaotangTestSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendOfficeSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendOfficeSms" />
  </wsdl:message>
  <wsdl:message name="SendOfficeSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendOfficeSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendBatchOfficeSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendBatchOfficeSms" />
  </wsdl:message>
  <wsdl:message name="SendBatchOfficeSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendBatchOfficeSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendWebUserSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendWebUserSms" />
  </wsdl:message>
  <wsdl:message name="SendWebUserSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendWebUserSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendLeavewordCheckSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendLeavewordCheckSms" />
  </wsdl:message>
  <wsdl:message name="SendLeavewordCheckSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendLeavewordCheckSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="SysSmsServiceSoap">
    <wsdl:operation name="GetAccountInfo">
      <wsdl:input message="tns:GetAccountInfoSoapIn" />
      <wsdl:output message="tns:GetAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReplyInfo">
      <wsdl:input message="tns:GetReplyInfoSoapIn" />
      <wsdl:output message="tns:GetReplyInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChaotangTestSms">
      <wsdl:input message="tns:ChaotangTestSmsSoapIn" />
      <wsdl:output message="tns:ChaotangTestSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendOfficeSms">
      <wsdl:input message="tns:SendOfficeSmsSoapIn" />
      <wsdl:output message="tns:SendOfficeSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendBatchOfficeSms">
      <wsdl:input message="tns:SendBatchOfficeSmsSoapIn" />
      <wsdl:output message="tns:SendBatchOfficeSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWebUserSms">
      <wsdl:input message="tns:SendWebUserSmsSoapIn" />
      <wsdl:output message="tns:SendWebUserSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendLeavewordCheckSms">
      <wsdl:input message="tns:SendLeavewordCheckSmsSoapIn" />
      <wsdl:output message="tns:SendLeavewordCheckSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SysSmsServiceSoap" type="tns:SysSmsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://internalservice.txooo.com/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReplyInfo">
      <soap:operation soapAction="http://internalservice.txooo.com/GetReplyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChaotangTestSms">
      <soap:operation soapAction="http://internalservice.txooo.com/ChaotangTestSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOfficeSms">
      <soap:operation soapAction="http://internalservice.txooo.com/SendOfficeSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBatchOfficeSms">
      <soap:operation soapAction="http://internalservice.txooo.com/SendBatchOfficeSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWebUserSms">
      <soap:operation soapAction="http://internalservice.txooo.com/SendWebUserSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLeavewordCheckSms">
      <soap:operation soapAction="http://internalservice.txooo.com/SendLeavewordCheckSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SysSmsServiceSoap12" type="tns:SysSmsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountInfo">
      <soap12:operation soapAction="http://internalservice.txooo.com/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReplyInfo">
      <soap12:operation soapAction="http://internalservice.txooo.com/GetReplyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChaotangTestSms">
      <soap12:operation soapAction="http://internalservice.txooo.com/ChaotangTestSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOfficeSms">
      <soap12:operation soapAction="http://internalservice.txooo.com/SendOfficeSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBatchOfficeSms">
      <soap12:operation soapAction="http://internalservice.txooo.com/SendBatchOfficeSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWebUserSms">
      <soap12:operation soapAction="http://internalservice.txooo.com/SendWebUserSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLeavewordCheckSms">
      <soap12:operation soapAction="http://internalservice.txooo.com/SendLeavewordCheckSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SysSmsService">
    <wsdl:port name="SysSmsServiceSoap" binding="tns:SysSmsServiceSoap">
      <soap:address location="http://internalservice.txooo.com/SysSmsService.asmx" />
    </wsdl:port>
    <wsdl:port name="SysSmsServiceSoap12" binding="tns:SysSmsServiceSoap12">
      <soap12:address location="http://internalservice.txooo.com/SysSmsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>